<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>P2P Chat</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Peer to Peer Chat program</h1>
<!--<table>-->
<!--<tr>-->
<!--<th>Id</th>-->
<!--<th>Path</th>-->
<!--<th>Method</th>-->
<!--<th>Date and Time</th>-->
<!--<th>Log Level</th>-->
<!--<th>Request Data</th>-->
<!--</tr>-->
<!--<tr th:each="log : ${list}">-->
<!--<td th:text="${log.id}"></td>-->
<!--<td th:text="${log.path}"></td>-->
<!--<td th:text="${log.method}"></td>-->
<!--<td th:text="${log.dateAndTime}"></td>-->
<!--<td th:text="${log.logLevel}"></td>-->
<!--<td th:text="${log.requestData}"></td>-->
<!--</tr>-->
<!--</table>-->

<h2 th:if="${noUsername} == ''">The username field is empty!</h2>
<h2 th:if="${existingUsername} == true">The username is already used!</h2>
<h1>Peer to Peer Chat Program</h1>
<form th:action="@{/{id}/update(id=${activeUser.getId()})}">
  Your username:
  <input type="text" th:placeholder="${activeUser.getUsername()}" name="username"/>
  <input type="submit" value="Update"/>
</form>

</body>
</html>